
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/cine.png" alt="Bootstrap">
        LEIBFLIX
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fuente" id="navbarText">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li class="nav-item mx-2">
            <a class="nav-link" href="/peliculas" routerLinkActive="active">Peliculas</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/actores" routerLinkActive="active">Actores</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/estadisticas" routerLinkActive="active">Estadisticas</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/listadereproduccion" routerLinkActive="active">Lista de Reproducción</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/profe" routerLinkActive="active">PROFE</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/profe">PROFE</a>
          </li>
        </ul>
        
      </div>
      <div class="me-3 mt-3">
        <ul *ngIf="auth.user$ | async as user">
          {{ user.name }}
        </ul>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" type="submit">LogOut</button>
      </div>
      <span class="navbar-text">
        Bienvenido, {{ json.nombre }} {{ json.apellido }}
      </span>
    </div>
  </nav>
</header>