<footer class="text-center text-lg-start footer">
      <div class="container d-flex justify-content-center py-3">
        <button class="btn btn-danger buttonFooter" type="button">
            <i class="fa-brands fa-youtube"></i>
          </button>
          <button class="btn btn-info buttonFooter" type="button">
            <i class="fa-brands fa-twitter text-white"></i>
          </button>
          <button class="btn btn-primary buttonFooter" type="button">
            <i class="fa-brands fa-facebook"></i>
          </button>
          <button class="btn btn-danger buttonFooter" type="button">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button class="btn btn-success buttonFooter" type="button">
            <i class="fa-brands fa-whatsapp"></i>
          </button>
          <button class="btn btn-dark buttonFooter" type="button">
            <i class="fa-brands fa-github"></i>
          </button>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://www.leibflix.com/">www.leibflix.com</a>
      </div>
      <!-- Copyright -->
    </footer>